<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.tilseier.studying">

    <application
        android:name=".screens.dagger.di3.RandomUserApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".screens.retrofit2_rxjava.Retrofit2RxJavaActivity"></activity>
        <!-- Emoji font will be downloaded when the app is installed from Play Stote -->
        <!-- <meta-data android:name="fontProviderRequests" -->
        <!-- android:value="Noto Color Emoji Compat"/> -->
        <activity android:name=".screens.memory_leak.MemoryLeakActivity" />
        <activity android:name=".screens.job_schedulers.alarm_manager.AlarmManagerActivity" />
        <activity android:name=".screens.job_schedulers.job_scheduler.JobSchedulerActivity" />
        <activity android:name=".screens.thread.ThreadActivity" />
        <activity android:name=".screens.save_instance_state.SaveStateActivity" />
        <activity android:name=".screens.fragment_state_loss.StateLossActivity" />
        <activity android:name=".screens.fragment_state_loss.StateLossSecondActivity" />
        <activity android:name=".screens.fragment_back_stack.FragmentBackStackActivity" />
        <activity android:name=".screens.constraint_features.ConstraintSetsActivity" />
        <activity android:name=".screens.constraint_features.ConstraintFeaturesActivity" />
        <activity android:name=".screens.files.FilesActivity" />
        <activity android:name=".screens.fragments.FragmentActivity" />
        <activity
            android:name=".screens.ai.emotion_recognizer.EmotionRecognizerActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".screens.ai.face_recognizer.FaceRecognizerActivity" />
        <activity android:name=".screens.retrofit.RetrofitActivity" />
        <activity android:name=".screens.dagger.DaggerActivity3" />
        <activity android:name=".screens.dagger.DaggerActivity2" />
        <activity android:name=".screens.dagger.DaggerActivity" />
        <activity android:name=".screens.rxjava.RxActivity" />
        <activity android:name=".screens.eventbus.PublisherActivity" />
        <activity android:name=".screens.service.ServiceActivity" />
        <activity
            android:name=".MainActivity"
            android:configChanges="orientation|screenSize|keyboardHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <receiver android:name=".screens.job_schedulers.alarm_manager.AlertReceiver" />

        <service android:name=".screens.service.MyService" />
        <service
            android:name=".screens.service.MyIntentService"
            android:exported="false" />
        <service
            android:name=".screens.service.MyJobIntentService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
        <service
            android:name=".screens.job_schedulers.job_scheduler.JobSchedulerService"
            android:permission="android.permission.BIND_JOB_SERVICE" />
    </application>
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

</manifest>